<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/sakshat-patil" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/sakshat-patil/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="https://leetcode.com/u/patil_sakshat/" target='_blank'>
                    <i class="cib-leetcode"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a href="mailto:sakshatpatil25@gmail.com" target='_blank'>sakshatpatil25@gmail.com </a>
        </div>
    </div>

                <div class="footer-credits text-center">
                <div>Made with Coffee and Love <i class="cis-coffee" style="font-size: 1.4em;"></i></div>
            </div>

</footer>